{% block stylesheet %}
    <style>
        .wrapper{
            margin: 100px 100px;
            position: absolute;
            padding: 100px 100px 0 0 ;
        }
    </style>
{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <!-- image of recipe or list of image -->
    <div class="row">
        <div class="col-12">
            <div class="receipe-slider owl-carousel lightbox">
                <img src="{{ asset('./uploads/images/recipes/') }}{{ recipe.image }}" data-alt="" data-lightbox="image-1" data-title="My caption">
            </div>
        </div>
    </div>
    <!-- information in general -->
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="receipe-headline my-5">
                <h2>{{ recipe.name }}</h2>
                <div class="receipe-duration">
                    <h6>Prep: {{ recipe.preparationTime }}</h6>
                    <h6>Yields: {{ nbPerson }}</h6>
                    <h6>Origin: {{ recipe.origine }}</h6>
                    <h6>Calories: {{ calories }} Kcalories</h6>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4" >
            <div class="receipe-ratings text-right my-5" id="container">
                <div class="ratings">
                    <li class="fa fa-star fa-fw" aria-hidden="true"></li>
                    <li class="fa fa-star fa-fw" aria-hidden="true"></li>
                    <li class="fa fa-star fa-fw" aria-hidden="true"></li>
                    <li class="fa fa-star fa-fw" aria-hidden="true"></li>
                    <li class="fa fa-star fa-fw" aria-hidden="true"></li>
                </div>
                <a href="#" class="btn delicious-btn">{{ recipe.difficulty }}</a>
            </div>
        </div>
    </div>
    <!-- steps -->
    <div class="row">
        <div class="col-12 col-lg-8 ingredients">
            <h4 >Steps</h4>
            {% set i =0  %}
            {% for step in steps %}
                {% set i = i+1 %}
                <div class="single-preparation-step d-flex">
                    <h5>{{ i }}.</h5>
                    <p>  {{ step }} </p>
                </div>
            {% endfor %}
        </div>
        <!-- ingrediant -->
        <div class="col-12 col-lg-4">
            <div class="ingredients">
                <h4>Ingredients</h4>
                {% for ingredient in ingredients %}
                    <p>
                        {{ingredient.quantity}}
                        {{ingredient.name}}
                    </p>
                {% endfor %}
            </div>
        </div>
        <!-- Advice -->
        {% if   recipe.advice is not empty %}

        <div class="row">
            <div class="col-12 col-md-8">
                <div class="receipe-headline my-5">
                    <h2>Advice</h2>
                    <div class="receipe-duration">
                        <h6>Prep: {{ recipe.advice }}</h6>
                    </div>
                </div>
            </div>
            {% endif %}

            <section>
                {% if recipe.comments | length !=0 %}
                    <h1> {{ recipe.comments | length }} comments </h1> <br>
                {% endif %}
                {% for comment in recipe.comments %}
                    <div class="comment">
                        <div class="row">
                            <div class="col-12 col-sm-4  ">
                                <div   >
                                <span class="justify-content-center" style="font-family: 'Comic Sans MS'; font-size: 20px; font-weight: bold; color: #1abc9c">{{ comment.author }} (<small>{{comment.createdAt | date('d/m/Y à H:i')}}</small>) </span><br>
                                <span > {{ comment.content | raw }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                    <div class="row">
                        <div class="col-12">
                            <h1>Add a new Comment</h1>
                            {{ form_start(form) }}
                            {{ form_row(form.author) }}
                            {{ form_row(form.content) }}
                            {{ form_row(form.submit) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
            </section>
        </div>
    </div>
</div>
        {% endblock %}
{% block javascript %}
            {{parents}}
             <style src="{{asset('/js/app.js')}}"></style>
{% endblock %}
